body {
    background: white;
}

.tagline {
    background-image: url("/website/assets/img/bg.jpg");
    height: 60rem;
    background-size: cover;
    text-align: center;
    padding-top: 2rem;
    padding-inline: 1rem;
    
    
}

.tagline h1 {
    font-size: 8rem;
    background-color: white;
    
}

.tagline h3 {
    font-size: 5rem;
    background-color: white;
    margin-top: 1rem;
    
}


@media (max-width: 576px) {
  .tagline h1 {
    font-size: 3rem;
  }

  .tagline h3 {
    font-size: 2rem;
  }
}


@media (min-width: 577px) and (max-width: 991px) {
  .tagline h1 {
    font-size: 5rem;
  }

  .tagline h3 {
    font-size: 3rem;
  }
}

