body{
    background: white;
}

p {
    font-weight: 14px;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-name {
    color: royalblue;
}